<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dash Automation">

    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/> 
       <listener class-name="co.morsum.listeners.CustomListeners"/>
    </listeners>

    <test name ="SupplierProductCheck">
         <classes>
         <class name="co.morsum.testcases.SupplierProductCheck"/>
         </classes>
    </test> <!-- Test -->
  
</suite> <!-- Suite -->
